/* Estilos para el nav */
nav, .dropdown-menu {
    background-color: #3F64B5;
}

.dropdown-item:hover ,.nav-item:hover{
    background-color: #6880b3;
    text-decoration: none;
}

/* Estilos para el footer */
.columna1 h5
{
    color: #3F64B5;
}

.nav-item a
{
    color: white;
}
.nav-item a:hover
{
    color: white;
    text-decoration: underline;
}