/* Estilos para las ofertas */
.cajaOferta{
    top: 60%;
    right: 10%;
}

/* Estilos para el nav */
.menu, .dropdown-menu {
    background-color: #3F64B5;
}

.dropdown-item:hover ,.nav-item:hover{
    background-color: #6880b3;
    text-decoration: none;
}

/* Estilos para el footer */
#titulosColumnas
{
    color: #3F64B5;
}

.nav-item a
{
    color: white;
}
.nav-item a:hover
{
    color: white;
    text-decoration: underline;
}
#itemFooter
{

}
    #itemFooter a:hover 
    {
        text-decoration: none !important;
        background-color:  rgba(141, 141, 141, 0.58) !important;
        text-align: center;
    }
