/* Estilos para las ofertas */
.cajaOferta{
    top: 60%;
    right: 10%;
}

/* Estilos para el nav */
.menu, .dropdown-menu {
    background-color: #3F64B5;
}

.dropdown-item:hover ,.nav-item:hover{
    background-color: #456fc9;
    text-decoration: none;
}

.bg-lightblue{
    background-color: #3f64b5bb;
}

/* Estilos para el carrusel */
.carousel-indicators button 
{
    border-radius: 50%; 
    width: 20px; 
    height: 20px; 
}

/* Estilos para el footer */
#titulosColumnas
{
    color: #3F64B5;
}

.nav-item a
{
    color: white;
}
.nav-item a:hover
{
    color: white;
    text-decoration: underline;
}
#itemFooter
{

}
    #itemFooter a:hover 
    {
        text-decoration: none !important;
        background-color:  rgba(141, 141, 141, 0.58) !important;
    }
#copyFooter
{
    color: rgba(81, 126, 231, 0.457);
}

/* Estilos identificarse */
#iconosIdentificarse i
{
    font-size: 4rem;
}
#parteIzquierda
{
    border-right: 1px solid #CCCCCC;
}
